.image-container {
  width: 30%;
}

.order-form-product-table {
  grid-template-columns: 1fr 6fr 2fr 2fr;
  gap: 12px;
}

.warehouse-receipt-product-table {
  grid-template-columns: 1fr 6fr 2fr 2fr 1fr;
  gap: 12px;
}

.order-form-left {
  /* border-right: 1px solid var(--foreground); */
}