.button {
  color: var(--foreground);
}

.info {
  background: light-dark(#0000ffff, #000077ff);
}

.success {
  background: light-dark(#00ee00ff, #007700ff);
}

.danger {
  background: light-dark(#ff0000ff, #770000ff);
}

.danger {
  background: transparent;
}

.button:not(.loading) {
  &:hover {
    filter: brightness(.9);
  }

  &:active {
    filter: brightness(.8);
  }

  &:disabled {
    filter: grayscale(1);
  }
}

.loading > * {
  visibility: hidden;
}

.loading::after {
  content: '';
  position: absolute;
  width: 2em;
  aspect-ratio: 1 / 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: .25em solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: button-loading-spinner 1s linear infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
