.text-input {
  padding: .5em;
  border-radius: .5em;
  color: var(--foreground);
  background: var(--background);

  &:hover {
    filter: brightness(.9);
  }

  &:active {
    filter: brightness(.8);
  }

  &:disabled {
    filter: brightness(.7);
  }
}
