@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffffff;
  --secondary-background: #eeeeeeff;
  --gradient-background: linear-gradient(to right, #ffffffff, #eeeeeeff);
  --foreground: #121212ff;
  --secondary-foreground: #232323ff;
  --is-dark: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212ff;
    --secondary-background: #232323ff;
    --gradient-background: linear-gradient(to right, #000000ff, #121212ff);
    --foreground: #ffffffff;
    --secondary-foreground: #eeeeeeff;
    --is-dark: 1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
