@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --secondary-background: #eeeeee;
  --foreground: #121212;
  --secondary-foreground: #232323;
  --is-dark: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --secondary-background: #232323;
    --foreground: #ffffff;
    --secondary-foreground: #eeeeee;
    --is-dark: 1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
